<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<h3>Your subscription started. Your coffee is on the way.</h3> 
		<p><a href="/" class="btn btn-primary" id="individual-plan">Restart</a></p>
		<div class="card text-white bg-secondary mb-3">
  			<div class="card-header">Response</div>
  			<div class="card-body">
    			<h5 class="card-title">Subscription Object</h5>
    			<p class="card-text"><pre><code style="color:white"><%= @subscription %></code></pre></p>
  			</div>
		</div>
	</div>
	
</body>

</html>